.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 40px auto auto 40px 40px;
    grid-template-areas: 
        "a a a a a a a a a a a a"
        "b b b c c c c c c c c c"
        "b b b d d d d d d f f f"
        "b b b e e e e e e f f f"
        "b b b e e e e e e f f f";
}

.header {
   grid-area: a;
}

.menu {
    grid-area: b;
}

.content {
    grid-area: c;
}

.footer {
    grid-area: f;
}
.content2 {
    grid-area: e;
}

.content3 {
    grid-area: d;
}
